CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_FB_CMDLINE=y

CONFIG_CMDLINE="earlycon=uart8250,mmio32,0xff9f0000 console=ttyFIQ0 root=/dev/mmcblk1p3 rw rootwait"
CONFIG_CMDLINE_FORCE=y


# Disable Vendor Driver
CONFIG_MALI400=n
CONFIG_MALI450=n

# Enable Lima (Mainline)
CONFIG_DRM_LIMA=y
CONFIG_DRM_SCHED=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_ROCKCHIP_IOMMU=y

# Enable eth adapter
CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y

# Enable wlan adapter
#CONFIG_AIC_WLAN_SUPPORT=y
#CONFIG_AIC8800_BTLPM_SUPPORT=m
#CONFIG_AIC8800_WLAN_SUPPORT=m
